@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
}

body {
  font-family: "Inter", sans-serif;
}
